In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from decimal import Decimal
import math

In [2]:
df = pd.read_csv('coil/tic_training.csv')

# Obtiene Probabilidades para cada categoria

In [15]:
n=5822
n_caravan=sum(df['CARAVAN'])
no_class = n - n_caravan

cuentas = df.groupby(['MOSTYPE']).size().reset_index(name='counts')
cross = pd.crosstab(df.CARAVAN,df['MOSTYPE'])

c_row = cuentas.shape[0]
c_col = cross.shape[1]
    
print(" Epsilon de {}".format('MOSTYPE'))

for i in range(0,c_col):
    nv=cuentas.iloc[i,0]
    nx_i=cuentas.iloc[i,1]
    
    ncx_i=cross.iloc[1,i]
    ncnx_i=cross.iloc[0,i]
    
    P_class = round(Decimal(ncx_i)/Decimal(n_caravan),6)
    
    P_noclass = round(( Decimal(nx_i) - Decimal(ncx_i)) /(Decimal(n) - Decimal(n_caravan)),6)

    
    sco_class = np.log(P_class/P_noclass)
    
    print("Value:{}     N_class:{}     P_class:{}       N_noclass:{}      P_noclass:{}   ln:{}".format(nv,ncx_i,P_class, ncnx_i, P_noclass, sco_class))

 Epsilon de MOSTYPE
Value:1     N_class:13     P_class:0.037356       N_noclass:111      P_noclass:0.020278   ln:0.610956986717
Value:2     N_class:6     P_class:0.017241       N_noclass:76      P_noclass:0.013884   ln:0.216553170194
Value:3     N_class:25     P_class:0.071839       N_noclass:224      P_noclass:0.040921   ln:0.562784125363
Value:4     N_class:2     P_class:0.005747       N_noclass:50      P_noclass:0.009134   ln:-0.463325735237
Value:5     N_class:2     P_class:0.005747       N_noclass:43      P_noclass:0.007855   ln:-0.312472292182
Value:6     N_class:12     P_class:0.034483       N_noclass:107      P_noclass:0.019547   ln:0.567644627
Value:7     N_class:3     P_class:0.008621       N_noclass:41      P_noclass:0.00749   ln:0.140632289699
Value:8     N_class:51     P_class:0.146552       N_noclass:288      P_noclass:0.052612   ln:1.02443608368
Value:9     N_class:12     P_class:0.034483       N_noclass:266      P_noclass:0.048593   ln:-0.34301303864
Value:10     N_class:9     P_class:0.025862       N_noclass:156      P_noclass:0.028498   ln:-0.0970591994999
Value:11     N_class:9     P_class:0.025862       N_noclass:144      P_noclass:0.026306   ln:-0.0170223401729
Value:12     N_class:16     P_class:0.045977       N_noclass:95      P_noclass:0.017355   ln:0.974260622134
Value:13     N_class:13     P_class:0.037356       N_noclass:166      P_noclass:0.030325   ln:0.208521086417
Value:15     N_class:0     P_class:0.0       N_noclass:5      P_noclass:0.000913   ln:-inf
Value:16     N_class:0     P_class:0.0       N_noclass:16      P_noclass:0.002923   ln:-inf
Value:17     N_class:0     P_class:0.0       N_noclass:9      P_noclass:0.001644   ln:-inf
Value:18     N_class:0     P_class:0.0       N_noclass:19      P_noclass:0.003471   ln:-inf
Value:19     N_class:0     P_class:0.0       N_noclass:3      P_noclass:0.000548   ln:-inf
Value:20     N_class:2     P_class:0.005747       N_noclass:23      P_noclass:0.004202   ln:0.313117377103
Value:21     N_class:0     P_class:0.0       N_noclass:15      P_noclass:0.00274   ln:-inf
Value:22     N_class:4     P_class:0.011494       N_noclass:94      P_noclass:0.017172   ln:-0.401454990277
Value:23     N_class:4     P_class:0.011494       N_noclass:247      P_noclass:0.045122   ln:-1.36754477236
Value:24     N_class:5     P_class:0.014368       N_noclass:175      P_noclass:0.031969   ln:-0.799763171698
Value:25     N_class:2     P_class:0.005747       N_noclass:80      P_noclass:0.014615   ln:-0.933370419038
Value:26     N_class:1     P_class:0.002874       N_noclass:47      P_noclass:0.008586   ln:-1.09442818215
Value:27     N_class:1     P_class:0.002874       N_noclass:49      P_noclass:0.008951   ln:-1.13606047023
Value:28     N_class:0     P_class:0.0       N_noclass:25      P_noclass:0.004567   ln:-inf
Value:29     N_class:2     P_class:0.005747       N_noclass:84      P_noclass:0.015345   ln:-0.982111708546
Value:30     N_class:4     P_class:0.011494       N_noclass:114      P_noclass:0.020826   ln:-0.594377046022
Value:31     N_class:6     P_class:0.017241       N_noclass:199      P_noclass:0.036354   ln:-0.746013970997
Value:32     N_class:8     P_class:0.022989       N_noclass:133      P_noclass:0.024297   ln:-0.0553370452786
Value:33     N_class:46     P_class:0.132184       N_noclass:764      P_noclass:0.139569   ln:-0.0543642112827
Value:34     N_class:9     P_class:0.025862       N_noclass:173      P_noclass:0.031604   ln:-0.200508984987
Value:35     N_class:8     P_class:0.022989       N_noclass:206      P_noclass:0.037632   ln:-0.49283891162
Value:36     N_class:16     P_class:0.045977       N_noclass:209      P_noclass:0.03818   ln:0.18582945315
Value:37     N_class:10     P_class:0.028736       N_noclass:122      P_noclass:0.022287   ln:0.254147143282
Value:38     N_class:23     P_class:0.066092       N_noclass:316      P_noclass:0.057727   ln:0.135322709115
Value:39     N_class:19     P_class:0.054598       N_noclass:309      P_noclass:0.056449   ln:-0.0333403236036
Value:40     N_class:0     P_class:0.0       N_noclass:71      P_noclass:0.01297   ln:-inf
Value:41     N_class:5     P_class:0.014368       N_noclass:200      P_noclass:0.036536   ln:-0.933294564323

/Users/FCB/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:30: RuntimeWarning: divide by zero encountered in log

# Función para obtener scores de training

In [3]:
scores_df=[]

def scores(campo):
    n=5822
    n_caravan=sum(df['CARAVAN'])
    no_class = n - n_caravan

    cuentas = df.groupby([campo]).size().reset_index(name='counts')
    cross = pd.crosstab(df.CARAVAN,df[campo])

    c_row = cuentas.shape[0]
    c_col = cross.shape[1]
    
    for i in range(0,c_col):
        nv=cuentas.iloc[i,0]
        nx_i=cuentas.iloc[i,1]
    
        ncx_i=cross.iloc[1,i]
        ncnx_i=cross.iloc[0,i]
    
        P_class = round(Decimal(ncx_i)/Decimal(n_caravan),6)
    
        P_noclass = round(( Decimal(nx_i) - Decimal(ncx_i)) /(Decimal(n) - Decimal(n_caravan)),6)

        sco_class = np.log(P_class/P_noclass)
       
        scores_df.append({"campo":campo,
                     "value":nv,
                     "score":sco_class})

In [4]:
titulos = ['MOSTYPE',
 'MAANTHUI',
 'MGEMOMV',
 'MGEMLEEF',
 'MOSHOOFD',
 'MGODRK',
 'MGODPR',
 'MGODOV',
 'MGODGE',
 'MRELGE',
 'MRELSA',
 'MRELOV',
 'MFALLEEN',
 'MFGEKIND',
 'MFWEKIND',
 'MOPLHOOG',
 'MOPLMIDD',
 'MOPLLAAG',
 'MBERHOOG',
 'MBERZELF',
 'MBERBOER',
 'MBERMIDD',
 'MBERARBG',
 'MBERARBO',
 'MSKA',
 'MSKB1',
 'MSKB2',
 'MSKC',
 'MSKD',
 'MHHUUR',
 'MHKOOP',
 'MAUT1',
 'MAUT2',
 'MAUT0',
 'MZFONDS',
 'MZPART',
 'MINKM30',
 'MINK3045',
 'MINK4575',
 'MINK7512',
 'MINK123M',
 'MINKGEM',
 'MKOOPKLA',
 'PWAPART',
 'PWABEDR',
 'PWALAND',
 'PPERSAUT',
 'PBESAUT',
 'PMOTSCO',
 'PVRAAUT',
 'PAANHANG',
 'PTRACTOR',
 'PWERKT',
 'PBROM',
 'PLEVEN',
 'PPERSONG',
 'PGEZONG',
 'PWAOREG',
 'PBRAND',
 'PZEILPL',
 'PPLEZIER',
 'PFIETS',
 'PINBOED',
 'PBYSTAND',
 'AWAPART',
 'AWABEDR',
 'AWALAND',
 'APERSAUT',
 'ABESAUT',
 'AMOTSCO',
 'AVRAAUT',
 'AAANHANG',
 'ATRACTOR',
 'AWERKT',
 'ABROM',
 'ALEVEN',
 'APERSONG',
 'AGEZONG',
 'AWAOREG',
 'ABRAND',
 'AZEILPL',
 'APLEZIER',
 'AFIETS',
 'AINBOED',
 'ABYSTAND']

In [5]:
 for i in titulos:
    scores(i)

/Users/FCB/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: divide by zero encountered in log

Valores de score no encontrados en training

In [6]:
df_scores=pd.DataFrame(scores_df)
df_scores=df_scores.set_index(['campo','value'])
from numpy import inf
df_scores.loc[df_scores['score']==-inf,'score']=0
df_scores['score'].loc['MINK123M',6]=0
df_scores['score'].loc['ATRACTOR',6]=0
df_scores['score'].loc['PPERSAUT',9]=0
df_scores['score'].loc['APERSAUT',12]=0
df_scores['score'].loc['MSKD',8]=0
df_scores['score'].loc['PWERKT',1]=0
df_scores['score'].loc['PTRACTOR',7]=0
df_scores['score'].loc['ATRACTOR',5]=0
df_scores['score'].loc['AWERKT',4]=0
df_scores['score'].loc['ABRAND',6]=0
df_scores['score'].loc['PZEILPL',2]=0
df_scores['score'].loc['MGEMOMV',6]=0
df_scores['score'].loc['APERSAUT',5]=0
df_scores['score'].loc['AFIETS',4]=0
df_scores['score'].loc['ALEVEN',5]=0
df_scores['score'].loc['MAUT2',9]=0
df_scores['score'].loc['PWALAND',1]=0
df_scores['score'].loc['AMOTSCO',3]=0
df_scores['score'].loc['PVRAAUT',7]=0
df_scores['score'].loc['AVRAAUT',4]=0
df_scores['score'].loc['ABROM',3]=0
df_scores['score'].loc['ABESAUT',5]=0

In [8]:
df_test = pd.read_csv('coil/tic_test.csv')
df_test = df_test.set_index('NID')
df_test = df_test.drop(columns=['CARAVAN'])

# Scores de test

In [181]:

scores_test=[]

for rank in range(0,3999):
    s1=0
    nid=1+rank
    for i,x in enumerate(df_test):
        v=df_test.iloc[rank,i]
        #df_scores.score[(df_scores.campo==x) & (df_scores.value==v)]
        s=df_scores['score'].loc[x,v]
        s1=s+s1
    #print(nid,s1)
    scores_test.append({"NID":nid,
                       "score":s1})

In [187]:
df_scores_test=pd.DataFrame(scores_test)
df_settest = pd.read_csv('coil/tic_test.csv')
df_scores_test['CARAVAN']=df_settest['CARAVAN']
df_scores_test.sort_values(by=['score'], ascending=False)

       NID      score  CARAVAN
0        1  -4.820452        0
1        2  10.784753        1
2        3   3.758373        0
3        4   0.353294        0
4        5  -8.333697        0
5        6  -9.431992        0
6        7  -3.114333        0
7        8   7.613343        0
8        9   0.729365        0
9       10   4.424801        0
10      11 -11.219869        0
11      12   5.763709        1
12      13  -0.925975        0
13      14  -6.976679        0
14      15  -8.723624        0
15      16 -11.066287        0
16      17  -1.597117        0
17      18   0.967182        0
18      19 -13.297585        0
19      20   1.194518        0
20      21  -6.482113        0
21      22  -1.233968        0
22      23  -4.872362        0
23      24  -1.785874        0
24      25  -3.476254        0
25      26 -16.013049        0
26      27   4.634544        0
27      28   2.110043        0
28      29 -16.233809        0
29      30  10.267840        1
...    ...        ...      ...
3969  3970  -1.918679        0
3970  3971  -4.903321        0
3971  3972   6.810394        0
3972  3973  -6.595645        0
3973  3974   3.710624        0
3974  3975   3.048357        0
3975  3976  -5.584529        0
3976  3977  -6.514143        0
3977  3978  -6.453606        0
3978  3979  -0.743079        0
3979  3980 -14.906817        0
3980  3981  -2.256409        0
3981  3982  -6.326344        0
3982  3983  -1.768996        0
3983  3984   8.854703        0
3984  3985  -7.883407        0
3985  3986   4.280075        0
3986  3987  14.266101        0
3987  3988 -12.806924        0
3988  3989   0.007229        1
3989  3990   9.584479        0
3990  3991 -12.845673        0
3991  3992  -5.899710        0
3992  3993  -3.053269        0
3993  3994  -1.636502        0
3994  3995   3.749929        0
3995  3996  -0.646106        0
3996  3997  -5.633146        1
3997  3998   0.714868        0
3998  3999  -1.239976        0

[3999 rows x 3 columns]

In [208]:
df_top800=df_scores_test.nlargest(800,columns='score')
df_top800

       NID      score  CARAVAN
2587  2588  17.286029        0
947    948  16.603457        1
3772  3773  16.349231        0
285    286  16.316556        0
2132  2133  15.831090        0
364    365  15.267616        0
1929  1930  15.175738        0
2112  2113  15.006119        0
2416  2417  15.006119        1
575    576  14.573360        1
2135  2136  14.543724        1
3007  3008  14.458810        0
1383  1384  14.392603        0
229    230  14.381356        0
2016  2017  14.312213        0
1498  1499  14.271807        1
3986  3987  14.266101        0
2379  2380  14.153239        0
2621  2622  14.130106        1
165    166  14.052293        0
1242  1243  14.052293        0
2843  2844  14.052293        0
631    632  13.947004        0
2515  2516  13.880652        1
2164  2165  13.836692        1
1271  1272  13.692020        0
3704  3705  13.668489        0
3726  3727  13.490545        1
209    210  13.453025        1
1896  1897  13.343841        0
...    ...        ...      ...
2933  2934   2.917970        0
2800  2801   2.911728        0
3231  3232   2.903615        0
1953  1954   2.894670        0
1470  1471   2.890985        0
1279  1280   2.881427        0
2295  2296   2.878422        0
520    521   2.878172        0
3195  3196   2.876347        0
366    367   2.863871        0
2809  2810   2.853423        0
2996  2997   2.848372        0
2045  2046   2.837176        0
2574  2575   2.833652        0
3447  3448   2.828600        1
2018  2019   2.810542        1
2765  2766   2.803677        0
3736  3737   2.788901        0
66      67   2.783035        0
3832  3833   2.782694        0
3312  3313   2.782443        0
3323  3324   2.775089        0
1707  1708   2.774205        0
3025  3026   2.762439        0
2911  2912   2.761116        0
2670  2671   2.755488        0
3562  3563   2.754242        0
185    186   2.751590        0
2944  2945   2.739576        0
3858  3859   2.734480        0

[800 rows x 3 columns]

# Porcentaje de predicciones correctas

In [209]:
df_top800[(df_top800.CARAVAN==1) & (df_top800.score>0)].count()/800

NID        0.13125
score      0.13125
CARAVAN    0.13125
dtype: float64