In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from decimal import Decimal
import math

In [2]:
df = pd.read_csv('coil/tic_training.csv')

In [15]:
n=5822
n_caravan=sum(df['CARAVAN'])
no_class = n - n_caravan

#P_class = Decimal(n_caravan)/Decimal(n)
#P_noclass = 1 - P_class

cuentas = df.groupby(['MOSTYPE']).size().reset_index(name='counts')
cross = pd.crosstab(df.CARAVAN,df['MOSTYPE'])

c_row = cuentas.shape[0]
c_col = cross.shape[1]
    
print(" Epsilon de {}".format('MOSTYPE'))

for i in range(0,c_col):
    nv=cuentas.iloc[i,0]
    nx_i=cuentas.iloc[i,1]
    
    ncx_i=cross.iloc[1,i]
    ncnx_i=cross.iloc[0,i]
    
    E_i = nx_i * (Decimal(ncx_i)/Decimal(nx_i) - Decimal(n_caravan)/Decimal(n)) / (Decimal(nx_i) * (Decimal(n_caravan)/Decimal(n)) * (1 - Decimal(n_caravan)/Decimal(n)))**Decimal(0.5)
    
    P_class = round(Decimal(ncx_i)/Decimal(n_caravan),6)
    
    P_noclass = round(( Decimal(nx_i) - Decimal(ncx_i)) /(Decimal(n) - Decimal(n_caravan)),6)

    
    sco_class = np.log(P_class/P_noclass)
    
    print("Value:{}     N_class:{}     P_class:{}       N_noclass:{}      P_noclass:{}   ln:{}".format(nv,ncx_i,P_class, ncnx_i, P_noclass, sco_class))

 Epsilon de MOSTYPE
Value:1     N_class:13     P_class:0.037356       N_noclass:111      P_noclass:0.020278   ln:0.610956986717
Value:2     N_class:6     P_class:0.017241       N_noclass:76      P_noclass:0.013884   ln:0.216553170194
Value:3     N_class:25     P_class:0.071839       N_noclass:224      P_noclass:0.040921   ln:0.562784125363
Value:4     N_class:2     P_class:0.005747       N_noclass:50      P_noclass:0.009134   ln:-0.463325735237
Value:5     N_class:2     P_class:0.005747       N_noclass:43      P_noclass:0.007855   ln:-0.312472292182
Value:6     N_class:12     P_class:0.034483       N_noclass:107      P_noclass:0.019547   ln:0.567644627
Value:7     N_class:3     P_class:0.008621       N_noclass:41      P_noclass:0.00749   ln:0.140632289699
Value:8     N_class:51     P_class:0.146552       N_noclass:288      P_noclass:0.052612   ln:1.02443608368
Value:9     N_class:12     P_class:0.034483       N_noclass:266      P_noclass:0.048593   ln:-0.34301303864
Value:10     N_class:9     P_class:0.025862       N_noclass:156      P_noclass:0.028498   ln:-0.0970591994999
Value:11     N_class:9     P_class:0.025862       N_noclass:144      P_noclass:0.026306   ln:-0.0170223401729
Value:12     N_class:16     P_class:0.045977       N_noclass:95      P_noclass:0.017355   ln:0.974260622134
Value:13     N_class:13     P_class:0.037356       N_noclass:166      P_noclass:0.030325   ln:0.208521086417
Value:15     N_class:0     P_class:0.0       N_noclass:5      P_noclass:0.000913   ln:-inf
Value:16     N_class:0     P_class:0.0       N_noclass:16      P_noclass:0.002923   ln:-inf
Value:17     N_class:0     P_class:0.0       N_noclass:9      P_noclass:0.001644   ln:-inf
Value:18     N_class:0     P_class:0.0       N_noclass:19      P_noclass:0.003471   ln:-inf
Value:19     N_class:0     P_class:0.0       N_noclass:3      P_noclass:0.000548   ln:-inf
Value:20     N_class:2     P_class:0.005747       N_noclass:23      P_noclass:0.004202   ln:0.313117377103
Value:21     N_class:0     P_class:0.0       N_noclass:15      P_noclass:0.00274   ln:-inf
Value:22     N_class:4     P_class:0.011494       N_noclass:94      P_noclass:0.017172   ln:-0.401454990277
Value:23     N_class:4     P_class:0.011494       N_noclass:247      P_noclass:0.045122   ln:-1.36754477236
Value:24     N_class:5     P_class:0.014368       N_noclass:175      P_noclass:0.031969   ln:-0.799763171698
Value:25     N_class:2     P_class:0.005747       N_noclass:80      P_noclass:0.014615   ln:-0.933370419038
Value:26     N_class:1     P_class:0.002874       N_noclass:47      P_noclass:0.008586   ln:-1.09442818215
Value:27     N_class:1     P_class:0.002874       N_noclass:49      P_noclass:0.008951   ln:-1.13606047023
Value:28     N_class:0     P_class:0.0       N_noclass:25      P_noclass:0.004567   ln:-inf
Value:29     N_class:2     P_class:0.005747       N_noclass:84      P_noclass:0.015345   ln:-0.982111708546
Value:30     N_class:4     P_class:0.011494       N_noclass:114      P_noclass:0.020826   ln:-0.594377046022
Value:31     N_class:6     P_class:0.017241       N_noclass:199      P_noclass:0.036354   ln:-0.746013970997
Value:32     N_class:8     P_class:0.022989       N_noclass:133      P_noclass:0.024297   ln:-0.0553370452786
Value:33     N_class:46     P_class:0.132184       N_noclass:764      P_noclass:0.139569   ln:-0.0543642112827
Value:34     N_class:9     P_class:0.025862       N_noclass:173      P_noclass:0.031604   ln:-0.200508984987
Value:35     N_class:8     P_class:0.022989       N_noclass:206      P_noclass:0.037632   ln:-0.49283891162
Value:36     N_class:16     P_class:0.045977       N_noclass:209      P_noclass:0.03818   ln:0.18582945315
Value:37     N_class:10     P_class:0.028736       N_noclass:122      P_noclass:0.022287   ln:0.254147143282
Value:38     N_class:23     P_class:0.066092       N_noclass:316      P_noclass:0.057727   ln:0.135322709115
Value:39     N_class:19     P_class:0.054598       N_noclass:309      P_noclass:0.056449   ln:-0.0333403236036
Value:40     N_class:0     P_class:0.0       N_noclass:71      P_noclass:0.01297   ln:-inf
Value:41     N_class:5     P_class:0.014368       N_noclass:200      P_noclass:0.036536   ln:-0.933294564323

/Users/FCB/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:30: RuntimeWarning: divide by zero encountered in log

In [3]:
scores_df=[]

def scores(campo):
    n=5822
    n_caravan=sum(df['CARAVAN'])
    no_class = n - n_caravan

    cuentas = df.groupby([campo]).size().reset_index(name='counts')
    cross = pd.crosstab(df.CARAVAN,df[campo])

    c_row = cuentas.shape[0]
    c_col = cross.shape[1]
    
    #print(" Epsilon de {}".format('MOSTYPE'))

    for i in range(0,c_col):
        nv=cuentas.iloc[i,0]
        nx_i=cuentas.iloc[i,1]
    
        ncx_i=cross.iloc[1,i]
        ncnx_i=cross.iloc[0,i]
    
        P_class = round(Decimal(ncx_i)/Decimal(n_caravan),6)
    
        P_noclass = round(( Decimal(nx_i) - Decimal(ncx_i)) /(Decimal(n) - Decimal(n_caravan)),6)

        sco_class = np.log(P_class/P_noclass)
    
        ##print("Value:{}     N_class:{}     P_class:{}       N_noclass:{}      P_noclass:{}   ln:{}".format(nv,ncx_i,P_class, ncnx_i, P_noclass, sco_class))
        scores_df.append({"campo":campo,
                     "value":nv,
                     "score":sco_class})
    print("Scores calculados")

In [4]:
titulos = ['MOSTYPE',
 'MAANTHUI',
 'MGEMOMV',
 'MGEMLEEF',
 'MOSHOOFD',
 'MGODRK',
 'MGODPR',
 'MGODOV',
 'MGODGE',
 'MRELGE',
 'MRELSA',
 'MRELOV',
 'MFALLEEN',
 'MFGEKIND',
 'MFWEKIND',
 'MOPLHOOG',
 'MOPLMIDD',
 'MOPLLAAG',
 'MBERHOOG',
 'MBERZELF',
 'MBERBOER',
 'MBERMIDD',
 'MBERARBG',
 'MBERARBO',
 'MSKA',
 'MSKB1',
 'MSKB2',
 'MSKC',
 'MSKD',
 'MHHUUR',
 'MHKOOP',
 'MAUT1',
 'MAUT2',
 'MAUT0',
 'MZFONDS',
 'MZPART',
 'MINKM30',
 'MINK3045',
 'MINK4575',
 'MINK7512',
 'MINK123M',
 'MINKGEM',
 'MKOOPKLA',
 'PWAPART',
 'PWABEDR',
 'PWALAND',
 'PPERSAUT',
 'PBESAUT',
 'PMOTSCO',
 'PVRAAUT',
 'PAANHANG',
 'PTRACTOR',
 'PWERKT',
 'PBROM',
 'PLEVEN',
 'PPERSONG',
 'PGEZONG',
 'PWAOREG',
 'PBRAND',
 'PZEILPL',
 'PPLEZIER',
 'PFIETS',
 'PINBOED',
 'PBYSTAND',
 'AWAPART',
 'AWABEDR',
 'AWALAND',
 'APERSAUT',
 'ABESAUT',
 'AMOTSCO',
 'AVRAAUT',
 'AAANHANG',
 'ATRACTOR',
 'AWERKT',
 'ABROM',
 'ALEVEN',
 'APERSONG',
 'AGEZONG',
 'AWAOREG',
 'ABRAND',
 'AZEILPL',
 'APLEZIER',
 'AFIETS',
 'AINBOED',
 'ABYSTAND']

In [5]:
 for i in titulos:
    scores(i)

/Users/FCB/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:27: RuntimeWarning: divide by zero encountered in log

Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados
Scores calculados

In [39]:
df_scores=pd.DataFrame(scores_df)

In [40]:
df_scores

        campo     score  value
0     MOSTYPE  0.610957      1
1     MOSTYPE  0.216553      2
2     MOSTYPE  0.562784      3
3     MOSTYPE -0.463326      4
4     MOSTYPE -0.312472      5
5     MOSTYPE  0.567645      6
6     MOSTYPE  0.140632      7
7     MOSTYPE  1.024436      8
8     MOSTYPE -0.343013      9
9     MOSTYPE -0.097059     10
10    MOSTYPE -0.017022     11
11    MOSTYPE  0.974261     12
12    MOSTYPE  0.208521     13
13    MOSTYPE      -inf     15
14    MOSTYPE      -inf     16
15    MOSTYPE      -inf     17
16    MOSTYPE      -inf     18
17    MOSTYPE      -inf     19
18    MOSTYPE  0.313117     20
19    MOSTYPE      -inf     21
20    MOSTYPE -0.401455     22
21    MOSTYPE -1.367545     23
22    MOSTYPE -0.799763     24
23    MOSTYPE -0.933370     25
24    MOSTYPE -1.094428     26
25    MOSTYPE -1.136060     27
26    MOSTYPE      -inf     28
27    MOSTYPE -0.982112     29
28    MOSTYPE -0.594377     30
29    MOSTYPE -0.746014     31
..        ...       ...    ...
598    ALEVEN      -inf      8
599  APERSONG  0.002617      0
600  APERSONG -0.645400      1
601   AGEZONG -0.011528      0
602   AGEZONG  1.081533      1
603   AWAOREG -0.008084      0
604   AWAOREG  1.433867      1
605   AWAOREG      -inf      2
606    ABRAND -0.399680      0
607    ABRAND  0.270297      1
608    ABRAND -0.077642      2
609    ABRAND      -inf      3
610    ABRAND      -inf      4
611    ABRAND      -inf      5
612    ABRAND      -inf      7
613   AZEILPL -0.002513      0
614   AZEILPL  2.063563      1
615  APLEZIER -0.034411      0
616  APLEZIER  2.296024      1
617  APLEZIER  2.753974      2
618    AFIETS -0.019650      0
619    AFIETS  0.443032      1
620    AFIETS  0.740720      2
621    AFIETS  2.753974      3
622   AINBOED -0.007138      0
623   AINBOED  0.701394      1
624   AINBOED      -inf      2
625  ABYSTAND -0.034937      0
626  ABYSTAND  1.353790      1
627  ABYSTAND      -inf      2

[628 rows x 3 columns]

In [53]:
df.loc[df['NID']==1]

,NID,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,1,33,1,3,2,8,0,5,1,3,...,0,0,0,1,0,0,0,0,0,0

In [70]:
#for i in titulos:
#    for i in df_scores['campo']:


df.loc[df['NID']==1].isin(df_scores['value'])

,NID,MOSTYPE,MAANTHUI,MGEMOMV,MGEMLEEF,MOSHOOFD,MGODRK,MGODPR,MGODOV,MGODGE,...,APERSONG,AGEZONG,AWAOREG,ABRAND,AZEILPL,APLEZIER,AFIETS,AINBOED,ABYSTAND,CARAVAN
0,True,False,True,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False

NID          1
MOSTYPE     33
MAANTHUI     1
MGEMOMV      3
MGEMLEEF     2
MOSHOOFD     8
MGODRK       0
MGODPR       5
MGODOV       1
MGODGE       3
MRELGE       7
MRELSA       0
MRELOV       2
MFALLEEN     1
MFGEKIND     2
MFWEKIND     6
MOPLHOOG     1
MOPLMIDD     2
MOPLLAAG     7
MBERHOOG     1
MBERZELF     0
MBERBOER     1
MBERMIDD     2
MBERARBG     5
MBERARBO     2
MSKA         1
MSKB1        1
MSKB2        2
MSKC         6
MSKD         1
            ..
PGEZONG      0
PWAOREG      0
PBRAND       5
PZEILPL      0
PPLEZIER     0
PFIETS       0
PINBOED      0
PBYSTAND     0
AWAPART      0
AWABEDR      0
AWALAND      0
APERSAUT     1
ABESAUT      0
AMOTSCO      0
AVRAAUT      0
AAANHANG     0
ATRACTOR     0
AWERKT       0
ABROM        0
ALEVEN       0
APERSONG     0
AGEZONG      0
AWAOREG      0
ABRAND       1
AZEILPL      0
APLEZIER     0
AFIETS       0
AINBOED      0
ABYSTAND     0
CARAVAN      0
Name: 0, Length: 87, dtype: int64